################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Documentation/.vs/Documentation
/.vs/slnx.sqlite
/Documentation/Documentation.vcxproj
/Documentation/Documentation.vcxproj.filters
/Documentation/Documentation.vcxproj.user
/Documentation/Documentation.sln
